#root {
  width: 100%;
  max-width: 1200px;
  min-width: 1150px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
  color: rgb(233, 226, 226);
}

.NavBar {
  background-color: rgb(76, 43, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-radius: 8px;
  height: 100%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.NavDiv {
  width: 36%;
}

.NavTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavCart {
  text-align: right;
  padding: 0 10px;
}

.NavUser {
  text-align: left;
  padding: 0 10px;
  font-weight:bold
}

.GroceriesApp-Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* max-width: 800px; */
  /* border: 1px solid white; */
}

.CartContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;

  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
}

.CartCard {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  color: rgb(233, 226, 226);
  height: 200px;
  background-color: rgb(43, 48, 54);
}

.CartCardInfo {
  /* display: flex;
  justify-content: space-around; */
  width: 50%;
}

.ProductsContainer {
  width: 75%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid white; */
}

.ProductCard {
  width: 20%;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
.addtocart{
  background-color: black;
  color: rgb(233, 226, 226);
}

.ProductQuantityDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QuantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: rgb(233, 226, 226);
  background-color: black;
  border: 1px solid rgb(24, 24, 24);
  border-radius: 10%;
  cursor: pointer;
  margin: 0 5px;
}
/* .QuantityBtn:hover {
  background-color: rgb(76, 43, 226);
} */

img {
  height: 50px;
  border-radius: 5px;
}

.counter-container {
  /* border: 1px solid white; */
  display: flex;
  width: 70%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
}

.counter-button {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.CartListBtns {
  display: flex;
  justify-content: space-around;
}

.cartbtndiv{
  display: flex;
  position: absolute;
  justify-content:space-between;
  left: 1rem;
}
.RemoveButton {
  bottom: 30px;
  background-color: rgb(190, 0, 0);
  color:white;
}

#BuyButton {
  background-color: green;
  height: 60px;
  position:relative;
  left:20px;
  color: white;
}
